include LICENSE
include README.rst
include CHANGELOG.rst
include dev_certs
include logrotate
recursive-include dev_certs *
recursive-include fedmsg/tests/test_certs *
recursive-include extras *
recursive-include doc *
recursive-include fedmsg.d *.py
exclude fedmsg.d/_tweet-real.py
recursive-include initsys *

graft scripts
