[Unit]
Description=Outbound fedmsg gateway
After=network.target
Documentation=https://fedmsg.readthedocs.org/

[Service]
ExecStart=/usr/bin/fedmsg-gateway
Type=simple
User=fedmsg
Group=fedmsg
Restart=on-failure

[Install]
WantedBy=multi-user.target
