[Unit]
Description=Generic fedmsg processing hub
After=network.target
Documentation=https://fedmsg.readthedocs.org/

[Service]
ExecStart=/usr/bin/fedmsg-hub
Type=simple
User=fedmsg
Group=fedmsg
Restart=on-failure

[Install]
WantedBy=multi-user.target
