[Unit]
Description=IRC bot for fedmsg
After=network.target
Documentation=https://fedmsg.readthedocs.org/

[Service]
ExecStart=/usr/bin/fedmsg-irc
Type=simple
User=fedmsg
Group=fedmsg
Restart=on-failure

[Install]
WantedBy=multi-user.target
