[Unit]
Description=fedmsg active<->passive relay
After=network.target
Documentation=http://fedmsg.readthedocs.org/en/latest/commands/

[Service]
ExecStart=/usr/bin/fedmsg-relay
Type=simple
User=fedmsg
Group=fedmsg

[Install]
WantedBy=multi-user.target
